* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 37, 37);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.todo_new {
  height: 200px;
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.todo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  margin: 30px auto;
}

.todo_heading {
  color: white;
}

.todo_input {
  background-color: black;
  width: 400px;
  margin: 12px 0px;
  border-radius: 10px;
  display: flex;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404);
}

.todo_input input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
  padding: 20px;
  width: 345px;
}

.todo_input button {
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 12px;
  padding: 0px 12px;
  cursor: pointer;
  font-size: 40px;
  margin: 5px;
}

.item {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404);
  display: flex;
  align-items: center;
  background-color: black;
  color: rgb(90, 88, 88);
  font-size: 20px;
  border-bottom: 1px solid rgb(90, 88, 88);
  padding: 10px;
  cursor: pointer;
}

.item:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 25px;
}
.item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: none;
}

.item .task {
  padding: 0px 15px;
  width: 355px;
}
